 @media screen and (max-width: 768px){
.menu-container{
    display: none;
}

.header {
   
    padding: 0 20px;
   width: 100%;
}

.burgs-btn{
    display: flex;
  margin-right: 25px;
}

.clus-btn{
  width: 20px;
  height: 20px;
}

.download {

    
  display: flex;
  padding: 10px 70px 500px ;
  gap: 5px;
  margin: 0;
  flex-wrap: wrap;
 

  
}





.menu-container-mobile{
  background: lightgray;
  padding: 30px;
  width: 300px;
  height: 100vh;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}


.menu-container-mobile.active {
  display: flex;
  transition: all ease-in-out;
}
  

.nav-menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  transition: all ease-in-out;

}


.section-2{
flex-wrap: wrap;

}



}




 
